@using MB.T6.Web.Models.Drivers
@model IEnumerable<DriverListViewModel>

@{
    ViewData["Title"] = "Driver List";
}

<h1>Drivers List</h1>

<p>
    <a asp-action="Create">Create New Driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var driver in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => driver.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => driver.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => driver.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => driver.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@driver.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@driver.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@driver.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
