@using System.Drawing
@using MB.T6.Web.Models.Cars
@model CarSearchViewModel

@{
    ViewData["Title"] = "Advanced Car Search";
}

<h1>Advanced Car Search</h1>

<form asp-action="AdvancedSearch">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-group">
                <label for="ProductionYearStart" class="control-label">Production Year Start</label>
                <select id="ProductionYearStart" name="ProductionYearStart" class="form-control">
                    <option value="NULL">--- Select Start Year ---</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="ProductionYearEnd" class="control-label">Production Year End</label>
                <select id="ProductionYearEnd" name="ProductionYearEnd" class="form-control">
                    <option value="NULL">--- Select End Year ---</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DriverFirstName" class="control-label"></label>
                <input asp-for="DriverFirstName" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DriverLastName" class="control-label"></label>
                <input asp-for="DriverLastName" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" asp-items="Html.GetEnumSelectList<KnownColor>()" class="form-control">
                    <option value="NULL">--- Select Color ---</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<hr />

<div class="mt-2">Number of results found: @Model.Results.Count()</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Production Year
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                Driver Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @if (car.ProductionDate.HasValue)
                    {
                        @car.ProductionDate.Value.Year
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Driver.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@car.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
