@using MB.T6.Web.Models.Cars
@model IEnumerable<CarListViewModel>

@{
    ViewData["Title"] = "Cars list";
}

<h1>Cars List</h1>

<p>
    <a asp-action="Create">Create New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @if (car.ProductionDate.HasValue)
                    {
                        @car.ProductionDate.Value.Year
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.NumberOfSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Driver.FullName)
                </td>
                <td>
                    <img class="car-logo" src="~/img/logos/@car.LogoImage" alt="@car.CarFullName" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@car.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
